{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td> Golf Club Ground Trambakeshwar, Matoshree Nagar, Nashik 422001, Maharastra, INDIA.</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+91 7776062165</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+91 7888178610</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>nationalFitness&MMAclub.78692@gmail.com</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.336422377671!2d73.7739814142276!3d19.994390227658787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x22c88661a47974c2!2sGolf%20Club%20Ground!5e0!3m2!1sen!2sin!4v1602577256826!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}